.show-points {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 40%;
  font-size: x-large;
  justify-content: center;
  align-items: center;
}

.points {
  font-weight: bold;
  font-size: xx-large;
  color: rgb(95, 60, 6);
}
